Source: scmcauthd
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: iserv3-dev
Standards-Version: 3.9.5

Package: scmcauthd
Architecture: all
Depends: perl-base, systemd, libjson-perl, libbytes-random-secure-perl
Description: SCMC authentication daemon
