Source: scmcauthd
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0

Package: scmcauthd
Architecture: all
Depends: adduser,
         libbytes-random-secure-perl,
         libjson-perl,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: SCMC authentication daemon
 Authentication daemon for the SCMC module.
