Source: scmcauthd
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev, dh-systemd
Standards-Version: 3.9.5

Package: scmcauthd
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  libjson-perl,
  libbytes-random-secure-perl,
  adduser,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: SCMC authentication daemon
 Authentication daemon for the SCMC module.
